{% extends "layout.html" %}

{% block content %}
<p></p>
<p></p>
<p></p>
<img class="ui fluid image" src="https://engineering.stanford.edu/sites/default/files/styles/full_width_banner_tall/public/skyscrapers.jpg?itok=ioqdUFUW">
<h2>Filters</h2>

<form method="get">

<div class="ui input">
  <input name="forward_pe" type="text" placeholder="Forward P/E" value="{{ forward_pe or '' }}">
</div>



<button type="submit" class="ui button primary">Filter</button>

</form>

<button id="add_symbol" class="ui button secondary">Add Symbols</button>


{% endblock %}

